{{ 'upng-compare-modal.css' |  asset_url |  stylesheet_tag }}
<div class="upng-compare-modal">
  <table class="compare-modal-container" id="compare-modal-container">
  </table>
</div>
<script src="{{ 'upng-compare-modal.js' |  asset_url }}" type="text/javascript" defer></script>
