<div class="upng-table-micuenta">
  <table id="upng-table-client-carts">
    <thead>
      <tr>
        <th>{{ 'upango.agents.carts.name' | t }}</th>
        <th>{{ 'upango.agents.carts.amount' | t }}</th>
        <th>{{ 'upango.agents.carts.product_amount' | t }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>