.upng-modal-header p {
    margin: 0px;
    padding-bottom: 3rem;
}

.upng-form input {
    border: 1px solid var(#85BB3D, rgba(133, 187, 61, 0.25));
}

.upng-fields .form-info {
    text-align: left;
}
.upng-fields .form-info-label {
    font-weight: bold;
}

@media screen and (min-width: 750px) {
    .upng-fields {
        column-gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* padding-bottom: 18px;*/
        row-gap: 10px;
    }
    
    #ProductConsultaPreciosForm .upng-fields {
        grid-template-columns: 1fr;
    }
}