#variant-table-container table {
  width: calc(100% - 10px); /* Asegura que la tabla ocupe todo el ancho del contenedor menos el padding */
  table-layout: fixed; /* Asegura que la tabla tenga un layout fijo */
}

.upng-table-variants table {
  background-color: #ffffff;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}

#variant-table-container-snippet * {
  font-size: 1em;
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.colored-circle-green, .colored-circle-red, .colored-circle-orange, .colored-circle-skyblue {
  border-radius: 50%;
  width: 1em;
  height: 1em;
}

.colored-circle-green { background-color: green; }
.colored-circle-red { background-color: red; }
.colored-circle-orange { background-color: orange; }
.colored-circle-skyblue { background-color: skyblue; }

.table-image {
  width: 6em;
  height: 6em;
}

#table-loader {
  display: none;
}

.flex-align-center {
  align-items: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 22px;
  height: 22px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 22px;
  height: 22px;
  margin: 4px;
  border-radius: 50%;
  border-bottom: 3px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.nogap {
  gap: 0px;
}

.fullheight {
  align-items: stretch;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100%;
}

.flex-container-column * {
  width: 100%;
}

.table-input {
  height: inherit;
  text-align: center;
  padding: 0.75em;
  appearance: textfield;
  width: 90%;
}

.smallInp {
  padding: 0em;
  width: 80%;
}

.input-buttons {
  background-color: #eaeaea;
  border: 1px solid gray;
  width: 20%;
}

.smallBtns {
  width: 40%;
}

.input-buttons button {
  background: none;
  border: none;
  text-align: center;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 990px) {
  #variant-table-container {
    display: none;
  }
}

/* Variantes de la tabla del producto */


.upng-table-variants table {
  background-color: #ffffff;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}

.upng-table-variants th, .upng-table-variants td {
  word-wrap: break-word;
  border-bottom: 2px solid #e0e0e0;
  padding: 0.5em;
  text-align: left;
  font-size: 1rem;
}

.button, .shopify-challenge__button, .customer button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0 1rem;
  cursor: pointer;
  font: inherit;
  font-size: 1.5rem;
  text-decoration: none;
  transition: box-shadow var(--duration-short) ease;
  appearance: none;
  max-width: 100%;
  box-sizing: border-box;
}

.button:hover, .shopify-challenge__button:hover, .customer button:hover {
  color: black;
  background-color: #fff;
}

/* Estilos de la tabla principal */

.upng-table-variants table.upng-posventa-table, .upng-table-variants table.upng-posventa-table td, .upng-table-variants table.upng-posventa-table th {
  box-shadow: none !important;
  border: none;
  color: black;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 116.3%;
  text-align: start;
}

table.upng-posventa-table td, table.upng-posventa-table th {
  padding: 1em;
  height: 48px !important;
}

.upng-table-variants tbody tr {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

/* Ajustes específicos por tipo de celda */

table.upng-posventa-table td.cell-image {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

table.upng-posventa-table td.cell-image a {
  text-decoration: none;
  color: black;
  font-size: 15px !important;
  font-weight: 400;
}

.upng-table-variants table td.actions-cell {
  text-align: end !important;
  max-width: 150px;
  overflow: hidden;
}

td img.upng-imagen-desktop {
  display: block !important;
}

/* Selectores de tallas */

.pedidos-reposicion .product-form__input {
  margin: 0 !important;
  border: none !important;
  padding: 0 !important;
}

.upng-pedidosreposicion .product-form__input input[type='radio']:checked + label {
  background-color: #334fb4 !important;
  color: rgba(var(--color-background)) !important;
}

.upng-pedidosreposicion .product-form__input input[type='radio'] + label {
  border: 1.5px solid #334fb4;
  background-color: rgba(var(--color-background));
  color: rgba(var(--color-foreground));
  border-radius: var(--variant-pills-radius);
  color: #334fb4;
  display: inline-block;
  margin: 0.7rem 0.5rem 0.2rem 0;
  padding: 0.625rem 0.9rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  text-align: center;
  transition: border var(--duration-short) ease;
  cursor: pointer;
  position: relative;
}

.upng-pedidosreposicion .product-form__input input[type='radio'] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.upng-table-variants .cell-variantes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  margin: 0;
}

.upng-table-variants tbody tr td quantity-input.quantity {
  min-height: calc((var(--inputs-border-width) * 2) + 3.5rem);
  max-width: 9rem !important;
}

.upng-table-variants tbody tr td quantity-input.quantity {
  color: rgba(var(--color-foreground));
  position: relative;
  display: flex;
  border-radius: var(--inputs-radius);
  /* min-height: calc((var(--inputs-border-width) * 2) + 4.5rem); */
  --inputs-border-width: 0px;
}

.upng-table-variants table tbody .quantity__button {
  width: calc(2.5rem / var(--font-body-scale));
  flex-shrink: 0;
  font-size: 1.8rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(var(--color-foreground));
  padding: 0;
  font-weight: bold;
}

/* Estilos de cabecera de la tabla */

.upng-table-variants thead tr th, .upng-table-variants table.upng-posventa-table th {
  border-bottom: var(--variant-pills-border-width) solid rgba(var(--color-foreground), var(--variant-pills-border-opacity));
  background-color: #ffffff; /* Poner la cabecera con fondo blanco */
  font-weight: bold;
  text-align: center;
}

/* Estilos móviles */

@media screen and (max-width: 749px) {
  .upng-pedidosreposicion.upng-table-variants table {
    min-width: fit-content !important;
  }

  .upng-pedidosreposicion.upng-pedidosreposicion {
    overflow: auto !important;
  }

  .upng-table-variants table {
    width: 100% !important;
  }

  .upng-table-variants thead {
    display: none !important;
  }

  .upng-table-variants tr {
    display: block !important;
    width: 100% !important;
  }

  .upng-table-variants tbody tr td {
    width: auto !important;
    min-width: fit-content !important;
  }

  .upng-table-variants table.upng-posventa-table td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0.5rem !important;
    text-align: start;
  }

  .upng-table-variants td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    padding-right: 2em;
    text-align: start;
  }

  .upng-table-variants td:last-child {
    border-bottom: none;
  }

  .upng-table-variants td a {
    text-align: start;
  }
}

/* Para las tablas que no tienen clases */

.upng-table-variants table:not([class]),
.upng-table-variants table:not([class]) td,
.upng-table-variants table:not([class]) th {
  box-shadow: none !important;
  border: none;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 116.3%;
  text-align: start;
  padding: 7px;
}

.upng-table-variants thead tr th,
.upng-table-variants table:not([class]) th {
  border-bottom: var(--variant-pills-border-width) solid rgba(var(--color-foreground), var(--variant-pills-border-opacity));
  font-weight: 700;
  font-size: 16px !important;
}

.simple-modal-content table {
  width: 100%;
}

.tableRow td:nth-child(3) div{
  font-size: 16px !important;
  padding: 0 !important;
}

.upng-table-variants-table {
  padding: 0 !important
}
